/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-oct-2017, 9:52:09
    Author     : catalinaaguayo
*/
p {
    font-family: Avenir;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.5em;
}

h1 {
    font-family: Another Wet Shabby;
    font-size: 50px;
}

h2 {
    font-family: Ostrich Sans;
    font-size: 50px
}

h3 {
    font-family: Avenir;
    font-size: 20px;
}

h4 {
    font-family: Ostrich Sans;
    font-size: 40px;
}

label {
    font-family: Avenir;
    font-size: 15px;
    font-weight: bold;
}

.btnRegistro {
    font-family: Ostrich Sans;
    font-size: 20px;
    color: black;
    background-color: crimson;
    border-color: black;
    border-width: 2px;
    height: 40px;
    margin-bottom: 1em;
}
.btnInicio {
    font-family: Ostrich Sans;
    font-size: 20px;
    color: black;
    background-color: chartreuse;
    border-color: black;
    border-width: 2px;
    height: 40px;
}

#btnCrear {
    font-family: Ostrich Sans;
    font-size: 20px;
    color: black;
    background-color: darkturquoise;
    border-color: black;
    border-width: 2px;
    height: 40px;
}

input {
    width: 200px;
    background-color: white;
    border-color: black;
}

table, td, tr {
    padding: 5px;
    text-align: left; 
    margin-top: -50px;
}

th{
    text-align: center;
}

body {
    background-image: url("Imagenes/PulseraMacrame.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

