/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-oct-2017, 9:52:09
    Author     : catalinaaguayo
*/
@font-face {
    font-family: AnotherWetShabby;
    src: url(fonts/AnotherWetShabbyTrial.ttf)
}

@font-face {
    font-family: OstrichSans;
    src: url(fonts/OstrichSans-Medium.otf);
}

@font-face {
    font-family: Lane;
    src: url(fonts/LANECANE.ttf);
}

h1 {
    font-family: AnotherWetShabby;
    font-size: 50px;
    margin-bottom: -10px;
}

h2 {
    margin-top: 20px;
    font-family: OstrichSans;
    font-size: 50px;
    margin-bottom: -50px;
}

p {
    font-family: Lane;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -10px;
}

.btnRegistro {
    font-family: OstrichSans;
    font-size: 23px;
    color: black;
    background-color: crimson;
    border-color: black;
    border-width: 2px;
    height: 30px;
    margin-bottom: 1em;
    margin-top: 1em;
}
.btnInicio {
    font-family: OstrichSans;
    font-size: 23px;
    color: black;
    background-color: chartreuse;
    border-color: black;
    border-width: 2px;
    height: 30px;
}


ul {
    list-style-type: none;
    margin: -8px;
    padding: 0px;
    overflow: hidden;
    background-color: turquoise;
    
}

li {
    float: left;
}

li a {
    font-family: OstrichSans;
    font-size: 25px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: chartreuse;
}

.active {
    background-color: crimson;
}

input, select {
    margin-top: 10px;
    width: 300px;
    height: 20px;
    border-color: black;
    border-width: 2px;
}


body {
    background-image: url("Imagenes/PulseraMacrame.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
}






